weather-app/src/main/mule/weather-report-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="weather-report-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8083" />
    </http:listener-config>
    <apikit:config name="weather-report-api-config" api="weather-report-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="64148861-779c-45c8-ab7b-c265ba038015" >
		<wsc:connection wsdlLocation="wsdl/global-weather.wsdl" service="GlobalWeather" port="GlobalWeatherSoap" address="http://localhost:8080/GlobalWeather" />
	</wsc:config>
	<flow name="weather-report-api-main">
        <http:listener config-ref="weather-report-api-httpListenerConfig" path="/api/*" allowedMethods="GET">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="weather-report-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="9b257c03-b679-405d-9a36-bec5e4ef17b4">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request:Mandatory query parameter missing"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="b9991a07-4c9c-4e7c-91c6-ce22b26c2f78">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="001ed147-c6db-4c2c-85a4-d5915499fdde">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="f7c9a166-a3e8-449a-8abf-b96e3df5b301">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="7b95b7a4-05a4-42b7-976c-500c62365f39">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="weather-report-api-console">
        <http:listener config-ref="weather-report-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="weather-report-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\cities:weather-report-api-config">
		<ee:transform doc:name="PrepareRequest" doc:id="3a02627b-97a9-4299-abd4-fb3323c585f1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.webserviceX.NET
---
{
	ns0#GetCitiesByCountry: {
		ns0#CountryName: attributes.queryParams.country
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume - getCitiesForCountry" doc:id="2aaba7ec-863d-4cad-90c0-e40185952d04" config-ref="Web_Service_Consumer_Config" operation="GetCitiesByCountry">
			<reconnect />
		</wsc:consume>
		<logger level="INFO" doc:name="Logger" doc:id="f4de73a8-9478-4ca9-a1c4-515ed2920277" />
		<ee:transform doc:name="ReadCdata" doc:id="e57c48b0-ca08-4f27-bf07-94a26eeb2234" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

ns ns0 http://www.webserviceX.NET
---
//read(payload.body.ns0#GetCitiesByCountryResponse.ns0#GetCitiesByCountryResult,"application/xml")
//log(payload.body.ns0#GetCitiesByCountryResponse.ns0#GetCitiesByCountryResult)
read(payload.body.ns0#GetCitiesByCountryResponse,"application/xml") 

//trim(payload.body.ns0#GetCitiesByCountryResponse.ns0#GetCitiesByCountryResult)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="MapToDefinition" doc:id="48ac0991-912d-4644-892e-b3ee717ae98b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

payload.NewDataSet.*Table map (detail,index) ->{
	
	Country:detail.Country,
	City: detail.City
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f557c72e-b86b-4b1a-8e07-1d32f74898a0" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="63cc5087-7da5-44b0-bdce-ef45c64fa336" type="WSC:CANNOT_DISPATCH">
				<ee:transform doc:name="Transform Message" doc:id="6f28ae97-16db-4172-9e54-7b88f44d6967" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"error_type":error.errorType.identifier,
 "error_description":"Unable to process the request at the moment, please try after sometime"

}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7842f4c3-9a75-4c42-a66c-53ee90e0c3bc" >
				<ee:transform doc:name="Transform Message" doc:id="a5a0969c-323f-45ac-ac5b-c4e212fc2f9d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"errorType":error.errorType.identifier,
"errorDescription":"Internal Server Error, please try after sometime"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
	<flow name="get:\weather:weather-report-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="b2d1383c-f9c7-4123-8bcb-c12579f72f25" doc:name="PrepareReqeust">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.webserviceX.NET
---
{
	ns0#GetWeather: {
		ns0#CityName: attributes.queryParams.city,
		ns0#CountryName: attributes.queryParams.country
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<wsc:consume doc:name="Consume - getWeather" doc:id="82cf3c5d-83c7-47c1-a74d-f4dd5aec6b6a" config-ref="Web_Service_Consumer_Config" operation="GetWeather">
			<reconnect />
		</wsc:consume>
		<logger level="INFO" doc:name="Logger" doc:id="a259af58-447f-4af9-9a17-a36648197d15" />
		<ee:transform doc:name="ReadCdata" doc:id="d4264e76-ef3a-4603-ab14-73568de45f5f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json

ns ns0 http://www.webserviceX.NET
---
read(payload.body.ns0#GetWeatherResponse,"application/xml") 

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="MapToDefinition" doc:id="7319f5ae-5168-4c30-89c7-57aa0520cac1">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.NewDataSet
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="cab79f11-ce5a-48a6-afd1-109862d68e1f" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="5bfb2ee5-80a6-4ae5-b8ee-233ae965c152" type="WSC:CANNOT_DISPATCH">
				<ee:transform doc:name="Transform Message" doc:id="eddf19b1-573a-4188-98f6-2557fbc980ee" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"error_type":error.errorType.identifier,
 "error_description":"Unable to process the request at the moment, please try after sometime"

}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="6620c4c4-2991-446e-993b-c07903bb5c2b" >
				<ee:transform doc:name="Transform Message" doc:id="c8aa0778-688b-4e8e-9e4d-4dfe33d8ade6" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"errorType":error.errorType.identifier,
"errorDescription":"Internal Server Error, please try after sometime"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
</mule>
